@media(max-width:992px){

    .nav-menu{
        position:fixed;
        top:0;
        right:-100%;
        width:340px;
        max-width:90vw;
        height:100vh;
        background:var(--cream);
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
        gap:2rem;
        padding:3rem;
        transition:.45s var(--ease);
        z-index:100;
    }

    .nav-menu.active{
        right:0;
    }

    .nav-menu a{
        font-size:1.2rem;
    }

    .menu-toggle{
        display:flex;
    }

    .nav-btn{
        display:none;
    }

    .nav-right{
        gap:.25rem;
    }

    .philosophy-grid{
        grid-template-columns:repeat(2,1fr);
    }

     .brand-grid{
        grid-template-columns:1fr;
        gap:3rem;
        min-height:auto;
    }

    .brand-points{
        border-left:none;
        border-top:1px solid var(--line);
        padding-left:0;
        padding-top:2rem;
    }

    .brand-philosophy::before{
        display:none;
    }

    .journey-track{
        display:none;
    }

    .journey-mobile{
        display:grid;
        gap:40px;
    }

}

@media(max-width:768px){

    .nav-right .icon-btn:nth-child(1),
    .nav-right .icon-btn:nth-child(2){
        display:none;
    }

    .section-heading{
        margin-bottom:3rem;
    }

    .philosophy-grid{
        grid-template-columns:1fr;
    }

}